<div class="item-frame">
    <div class="item-overlay">
        <h3 class="item-title">{{title}}</h3>
        <div class="item-info">
            <span class="studio">{{#if studios}}{{studios}}{{else}}제작사 미정{{/if}}</span>
            {{#if source}}/ <span class="source">{{source}}</span>{{/if}}
        </div>
        {{#with schedule.jp}}
        <div class="item-schedule item-schedule-jp">
            {{#if date}}
                <span class="date">{{date}}</span>
                <span class="time">{{time}}</span>
            {{else}}
                <span class="date">미정</span>
            {{/if}}
            {{#if broadcasts}}<span class="broadcasts">({{broadcasts}})</span>{{/if}}
        </div>
        {{/with}}
        {{#with schedule.kr}}
        {{#if this}}
        <div class="item-schedule item-schedule-kr">
            {{#if date}}
                <span class="date">{{date}}</span>
                <span class="time">{{time}}</span>
            {{else}}
                <span class="date">미정</span>
            {{/if}}
            {{#if broadcasts}}<span class="broadcasts">({{broadcasts}})</span>{{/if}}
        </div>
        {{/if}}
        {{/with}}
    </div>
</div>
<div class="item-links">
{{#if links.website}}
    <a href="{{links.website}}" class="link link-official" target="_blank">공식 사이트</a>
{{/if}}
{{#if links.namu}}
    <a href="{{links.namu}}" class="link link-namu" target="_blank">나무위키</a>
{{/if}}
{{#if links.ann}}
    <a href="{{links.ann}}" class="link link-ann" target="_blank">ANN (en)</a>
{{/if}}
</div>
